.horizontal-list {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #0ea6e2;
  border-bottom: 1px solid rgb(9, 9, 9);
  border-top: 1px solid rgb(17, 17, 17);
  font-weight: bold;
}

.menu-outer {
  height: 50px;
}

ul.horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 12px;
}
ul.horizontal-list li {
  display: inline;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(111, 223, 7);
}
